.splash {
    font-size: rem(15);
    font-weight: 500;
    margin-top: 10vh;
    opacity: 0;
    transform: translateY(rem(40));
    transition: 0.5s opacity, 0.5s transform;

    .active & {
        transform: none;
        opacity: 1;
    }

    .text {
        max-width: rem(300);
    }

    h1 {
        font-size: rem(18);
        font-weight: bold;
    }

    p {
        margin: rem(25) 0 rem(30);
    }

    li + li {
        margin-top: rem(10);
    }

    a {
        color: $primary;
        display: inline-block;
        transition: 0.2s transform;

        &:hover {
            transform: translateX(3px);
        }
    }
}
