@font-face {
    font-family: 'Space Grotesk';
    src: url('./hinted-subset-SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./hinted-subset-SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./hinted-subset-SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
